<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.crawler.dao.JsChinaCrawlerReportMapper">

    <resultMap id="jsChinaCrawlerReport" type="com.hb.crawler.pojo.JsChinaCrawlerReport"/>

    <insert id="addJsChinaCrawlerReport">
    insert into crawler_js_china_report (
      id, instance_id,mobile,real_name,is_real_name,
      month_average_payment,max_payment, standard_deviation,emergency_contact_days,contact_instability,total_contact,
      is_group,join_group_days,online_days,credit_level,account_balance,
      continuous_offline_days,offline_days_times)
    values(
        #{id},#{instanceId},#{mobile},#{realName},#{isRealName},
        #{monthAveragePayment},#{maxPayment},#{standardDeviation},#{emergencyContactDays},#{contactInstability},#{totalContact},
        #{isGroup},#{joinGroupDays},#{onlineDays},#{creditLevel},#{accountBalance},
        #{continuousOfflineDays},#{offlineDaysTimes})
    </insert>

    <select id="queryJsChinaCrawlerReport" resultMap="jsChinaCrawlerReport">
        select * from crawler_js_china_report
        where instance_id = #{instanceId}
        order by create_time desc
        limit 1
    </select>

    <select id="queryCallTimes" resultType="Map">
        select  other_party otherParty,count(*) callNum, max(start_time) startTime,(select concat(province,city)  from common_mobile_address ad where ad.mobile_prefix = substr(other_party,1,7)) location
        from crawler_js_china_call  ca,
             (select instance_id from crawler_js_instance it where it.mobile = #{mobile} and status = 4 order by create_time desc limit 1) ins
        where ca.instance_id  = ins.instance_id
            and length(other_party) = 11
            <if test="otherParty != null  and otherParty != '' ">
                and other_party = #{otherParty}
            </if>
        group by other_party
        order by callNum desc
        limit 20
    </select>

    <select id="queryPositions" resultType="Map">
        select distinct start_time,visit_arear
        from
        (
        select substr(start_time,1,10) start_time,visit_arear
        from crawler_js_china_call  ca,
        ( select instance_id from crawler_js_instance it
          where it.mobile =  #{mobile} and status = 4
          order by create_time desc limit 1
        ) ins
        where ca.instance_id  = ins.instance_id
          and length(other_party) = 11
          <if test="beginTime != null and beginTime != ''">
            and start_time &gt;= #{beginTime}
          </if>
          <if test="endTime != null and endTime != ''">
            and start_time &lt;= #{endTime}
          </if>
        order by start_time desc,visit_arear
        ) ds
    </select>

</mapper>